name: docker build and push

on:
  push:
    branches:
      - master
      - main
    tags:
      - v\d+\.\d+\.\d+


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - id: tag_name
        run: echo aaa
