
name: CI-CD

on:
  push:
    branches:
      - master
      - main
    tags:
      - v\d+\.\d+\.\d+


jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - run: pwd
      - run: ls -al /home/runner/work/
      - run: ls -al $(pwd)
      - run: ls -al /home/runner/work/test_actions
      - run: echo 222 > /home/runner/ttt.txt
      - run: ls -al /home/runner/
      # - run: exit 2


  build_and_push:
    needs: run-tests
    runs-on: ubuntu-latest
    steps:
      - run: echo ${GITHUB_REF##*/}


  deployment:
    needs: build_and_push
    runs-on: ubuntu-latest
    steps:
      - run: echo ${GITHUB_REF##*/}
      - run: ls -al /home/runner/
      