name: Test app

on:
  push:
    branches:
      - master
      - main
    tags:
      - v\d+\.\d+\.\d+


jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - run: ls -al /home/runner/work/

      - run: echo AAAAAA > /home/runner/aaaaaaaa.txt
